body{
    overflow-x: hidden;
}
h1{
    position: relative;
    text-align: center;
}
.refresh_section{
    position: relative;
     padding: 1% 44%;
     border-bottom: 2px solid black;
}
.refresh{
    position: relative;
    top: -10px;
    background-color: white; 
    cursor: pointer;
}
#tableBody > .item{
    position: relative;
    border: 2px solid black;
    border-top: 0px;
    padding: 5px; 
    padding-right: 10px;
}
.item > .v{
    position: absolute;
    height: 100%;
    top: -0.1%;
    right: 0px;
    padding: 0.4%;
}

.item:hover{
    cursor: pointer;
}

#tableBody > .accordion{
    display: none;
}
#right,#left {
    position: relative;
    top: 0px;
}
#left{ 
}
#right{
    float: right;
}
#number{
    position: relative;
    width: 70px;
}
.input_form{
    position: absolute;
    width: 100%;
    left: 44.5%;
}